## Test Redshift cluster 
------------------------------------

### Import dependencies and connect to sparkify database in Redshift

In [1]:
# Import dependency
import configparser

config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [2]:
# Connect to sparkify database:
%load_ext sql

HOST = config.get('CLUSTER', 'HOST')
DB_NAME =  config.get('CLUSTER', 'DB_NAME')
DB_USER = config.get('CLUSTER', 'DB_USER')
DB_PASSWORD = config.get('CLUSTER', 'DB_PASSWORD')
DB_PORT = config.get('CLUSTER', 'DB_PORT')

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)

print ('Connected to sparkify')
print(conn_string)
%sql $conn_string

Connected to sparkify
postgresql://student:PasswOrd123@redshift-cluster-vidao.cmaoqbzhnvdv.us-east-1.redshift.amazonaws.com:5439/sparkify

### Table schema

<img src="img3.png" width="80%"/>

### Query from the database to make sure ETL worked

#### Check the number of rows loaded into each table

In [3]:
# Rows loaded into 'songplays' table
%sql SELECT COUNT(*) FROM songplays;

 * postgresql://student:***@redshift-cluster-vidao.cmaoqbzhnvdv.us-east-1.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(333,)]

In [4]:
# Rows loaded into 'artists' table
%sql SELECT COUNT(*) FROM artists;

 * postgresql://student:***@redshift-cluster-vidao.cmaoqbzhnvdv.us-east-1.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(10025,)]

In [5]:
# Rows loaded into 'songs' table
%sql SELECT COUNT(*) FROM songs;

 * postgresql://student:***@redshift-cluster-vidao.cmaoqbzhnvdv.us-east-1.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(14896,)]

In [6]:
# Rows loaded into 'users' table
%sql SELECT COUNT(*) FROM users;

 * postgresql://student:***@redshift-cluster-vidao.cmaoqbzhnvdv.us-east-1.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(105,)]

In [7]:
# Rows loaded into 'time' table
%sql SELECT COUNT(*) FROM time;

 * postgresql://student:***@redshift-cluster-vidao.cmaoqbzhnvdv.us-east-1.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(8023,)]

#### Check contents of tables and try some ad-hoc queries

In [8]:
# Select the first 10 rows from 'songplays' table
%sql SELECT * FROM songplays LIMIT 10;

 * postgresql://student:***@redshift-cluster-vidao.cmaoqbzhnvdv.us-east-1.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(77, datetime.datetime(2018, 11, 2, 18, 36, 53), 71, 'free', 'SOBBZPM12AB017DF4B', 'ARH6W4X1187B99274F', 70, 'Columbia, SC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"'),
 (87, datetime.datetime(2018, 11, 4, 6, 51, 12), 25, 'paid', 'SORKKTY12A8C132F3E', 'ARIH5GU1187FB4C958', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (8, datetime.datetime(2018, 11, 4, 7, 31, 31), 25, 'paid', 'SOHWVJJ12AB0185F6D', 'ARASYMJ1187B9ACAF2', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (134, datetime.datetime(2018, 11, 4, 9, 41, 55), 44, 'paid', 'SOAFQGA12A8C1367FA', 'AR0IVTL1187B9AD520', 196, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (174, datetime.datetime(2018, 11, 5, 1, 58, 24), 44, 'paid', 'SOHMNPP12A58A7AE4B', 'ARKZ13R1187FB54FEE', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (184, datetime.datetime(2018, 11, 5, 2, 30, 17), 44, 'paid', 'SONTFNG12A8C13FF69', 'AR52EZT1187B9900BF', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (482, datetime.datetime(2018, 11, 5, 14, 24, 56), 44, 'paid', 'SOTETAR12AF72A5FF7', 'AROR8OB1187FB50D6A', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (228, datetime.datetime(2018, 11, 5, 15, 43, 22), 97, 'paid', 'SODHZVG12A8C1404DD', 'ARS5WKC1187B9AC7D1', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (165, datetime.datetime(2018, 11, 7, 0, 43), 97, 'paid', 'SOHTKMO12AB01843B0', 'AR5EYTL1187B98EDA0', 293, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (16, datetime.datetime(2018, 11, 7, 1, 42, 43), 8, 'free', 'SOWTZNU12AB017EADB', 'AR6NYHH1187B9BA128', 181, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')]

In [9]:
# Are there more paid subscriptions than free subscriptions?
%%time
%%sql
SELECT level, COUNT(*) 
FROM songplays
GROUP BY level;

 * postgresql://student:***@redshift-cluster-vidao.cmaoqbzhnvdv.us-east-1.redshift.amazonaws.com:5439/sparkify
2 rows affected.
CPU times: user 3.13 ms, sys: 1.98 ms, total: 5.11 ms
Wall time: 124 ms

[('paid', 271), ('free', 62)]

In [10]:
# Who listened to the most songs on the platform?
%%time
%%sql
SELECT users.first_name, users.last_name, COUNT(songs.title) as songs_listened
FROM songplays
JOIN songs ON (songplays.song_id = songs.song_id)
JOIN artists ON (songplays.artist_id = artists.artist_id)
JOIN users ON (songplays.user_id = users.user_id)
GROUP BY users.first_name, users.last_name
ORDER BY songs_listened DESC
LIMIT 10;

 * postgresql://student:***@redshift-cluster-vidao.cmaoqbzhnvdv.us-east-1.redshift.amazonaws.com:5439/sparkify
10 rows affected.
CPU times: user 4.68 ms, sys: 1.7 ms, total: 6.38 ms
Wall time: 119 ms

[('Chloe', 'Cuevas', 42),
 ('Kate', 'Harrell', 32),
 ('Tegan', 'Levine', 31),
 ('Aleena', 'Kirby', 21),
 ('Jacob', 'Klein', 18),
 ('Mohammad', 'Rodriguez', 17),
 ('Lily', 'Koch', 15),
 ('Matthew', 'Jones', 13),
 ('Layla', 'Griffin', 13),
 ('Jacqueline', 'Lynch', 13)]

In [23]:
# Which songs are the most popular?
%%time
%%sql
SELECT songs.title as song_title, artists.name as artist_name, COUNT(songplays.song_id)
FROM songplays
JOIN songs ON (songplays.song_id = songs.song_id)
JOIN artists ON (songplays.artist_id = artists.artist_id)
GROUP BY songs.title, artists.name
ORDER BY COUNT(songplays.song_id) DESC
LIMIT 10;

 * postgresql://student:***@redshift-cluster-vidao.cmaoqbzhnvdv.us-east-1.redshift.amazonaws.com:5439/sparkify
10 rows affected.
CPU times: user 4.38 ms, sys: 1.92 ms, total: 6.3 ms
Wall time: 168 ms

[("You're The One", 'Dwight Yoakam', 37),
 ("I CAN'T GET STARTED", 'Ron Carter', 9),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B', 8),
 ("Hey Daddy (Daddy's Home)", 'Usher', 6),
 ('Up Up & Away', 'Kid Cudi', 5),
 ('Make Her Say', 'Kid Cudi', 5),
 ('Supermassive Black Hole (Album Version)', 'Muse', 4),
 ('Mr. Jones', 'Counting Crows', 4),
 ('Unwell (Album Version)', 'matchbox twenty', 4)]

In [26]:
# List user name, song title, artist name for all songs listed on Thursday, November 2018
%%time
%%sql
SELECT CONCAT(users.first_name, users.last_name) as user, songs.title as song, artists.name as artist, time.day, time.month, time.year
FROM songplays
JOIN songs ON (songplays.song_id = songs.song_id)
JOIN artists ON (songplays.artist_id = artists.artist_id)
JOIN users ON (songplays.user_id = users.user_id)
JOIN time ON (songplays.start_time = time.start_time)
WHERE day = 5
LIMIT 10;

 * postgresql://student:***@redshift-cluster-vidao.cmaoqbzhnvdv.us-east-1.redshift.amazonaws.com:5439/sparkify
10 rows affected.
CPU times: user 5.24 ms, sys: 1.88 ms, total: 7.12 ms
Wall time: 126 ms

[('AnabelleSimpson', "If I Ain't Got You", 'Alicia Keys', 5, 11, 2018),
 ('KatherineGay', 'Fake Tales Of San Francisco', 'Richard Hawley And Death Ramps_ Arctic Monkeys', 5, 11, 2018),
 ('MollyTaylor', "If I Ain't Got You", 'Alicia Keys', 5, 11, 2018),
 ('KateHarrell', 'Ezio In Florence', 'Jesper Kyd', 5, 11, 2018),
 ('AleenaKirby', "What It Ain't", 'Josh Turner', 5, 11, 2018),
 ('AleenaKirby', "If I Ain't Got You", 'Alicia Keys', 5, 11, 2018),
 ('AleenaKirby', 'Paradigm Shift', 'Liquid Tension Experiment', 5, 11, 2018),
 ('KateHarrell', 'Still Waters', 'Jim White', 5, 11, 2018),
 ('AleenaKirby', "I CAN'T GET STARTED", 'Ron Carter', 5, 11, 2018),
 ('JaydenBell', 'The Joker', 'Steve Miller Band', 5, 11, 2018)]